<header class="navbar navbar-fixed">
    <div class="navbar--header">
        <a href="" class="logo">
            {% comment %}
                <img src="/static/img/account/wrapper-bg.jpg" alt="">
            {% endcomment %}
            <h3><b style="color: #20c997">LAB | </b>{% if account %}{{ account.employee.institution }}{% else %} Epress{% endif %}</h3>
        </a>
        <a href="#" class="navbar--btn" data-toggle="sidebar" title="Toggle Sidebar"> <i class="fa fa-bars"></i>
        </a>
    </div>
    <a href="#" class="navbar--btn" data-toggle="sidebar" title="Toggle Sidebar"> <i class="fa fa-bars"></i> </a>
    {% comment %}
    <div class="navbar--search">
        <form action=""><input type="search" name="search"
                               class="form-control"
                               placeholder="Search Something..."
                               required>
            <button class="btn-link"><i class="fa fa-search"></i></button>
        </form>
    </div>
    {% endcomment %}
    <div class="navbar--nav ml-auto">
        <ul class="nav">
            <li class="nav-item"><a href="#" class="nav-link"> <i class="fa fa-bell"></i> <span
                    class="badge text-white bg-blue">7</span> </a></li>
            <li class="nav-item"><a href="" class="nav-link"> <i class="fa fa-envelope"></i> <span
                    class="badge text-white bg-blue">4</span> </a></li>
            <li class="nav-item dropdown nav--user online"><a href="#" class="nav-link" data-toggle="dropdown">
                <img src="/static/img/avatars/haroun.jpg" alt="" class="rounded-circle"> <span>Haruna Tijjani</span>
                <i class="fa fa-angle-down"></i> </a>
                <ul class="dropdown-menu">
                    <li><a href="profile.html"><i class="far fa-user"></i>Profile</a></li>
                    <li><a href=""><i class="far fa-envelope"></i>Inbox</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a href=""><i class="fa fa-lock"></i>Lock Screen</a></li>
                    <li><a href="{% url 'index:logout' %}"><i class="fa fa-power-off"></i>Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>