<aside class="sidebar" data-trigger="scrollbar">
    <div class="sidebar--profile">
        <div class="profile--img">
            <a href="profile.html">
                <img src="/static/img/avatars/haroun.jpg" alt="" class="rounded-circle">
            </a>
        </div>
        <div class="profile--name"><a href="" class="btn-link">Haruna Tijjani Zango</a></div>
        <div class="profile--nav">
            <ul class="nav">
                <li class="nav-item"><a href="{% url 'index:profile' %}" class="nav-link" title="User Profile"> <i
                        class="fa fa-user"></i> </a></li>
                {% if account %}
                    <li class="nav-item"><a href="{% url 'index:lock_screen' %}" class="nav-link" title="Lock Screen"> <i
                            class="fa fa-lock"></i> </a></li>
                {% endif %}
                <li class="nav-item"><a href="" class="nav-link" title="Messages"> <i
                        class="fa fa-envelope"></i> </a></li>
                <li class="nav-item"><a href="{% url 'index:logout' %}" class="nav-link" title="Logout">
                    <i class="fa fa-sign-out-alt"></i>
                </a></li>
            </ul>
        </div>
    </div>
    {% if account %}
        <div class="sidebar--nav">
            <ul>
                <li><a href="#">Laboratory Department</a>
                    <ul>
                        {% comment %}
                    {% with path='url-path' title='Tita' icon='fa-table' %}
                        {% include 'components/nav_link.html' %}
                    {% endwith %}
                    {% endcomment %}
                        {% if account.category != 'Consultant' %}
                            <li class="active open"><a href="#"> <i class="fa fa-th"></i> <span>Test</span> </a></li>
                            <li><a href="#"> <i class="fa fa-th-list"></i> <span>Make Request</span> </a></li>
                        {% endif %}
                        {% if account.category != 'Receptionist' %}
                            <li><a href="#"> <i class="far fa-envelope"></i> <span>Compute Report</span> </a></li>
                        {% endif %}
                        {% if account.category != 'Consultant' %}
                            <li><a href=""> <i class="far fa-calendar-alt"></i> <span>Status</span> </a></li>
                        {% endif %}
                    </ul>
                </li>
                <li><a href="#">Diagnostic Department</a>
                    <ul>
                        {% if account.category != 'Consultant' %}
                            <li><a href="{% url 'diagnosis:add' %}"> <i class="far fa-newspaper"></i>
                                <span>Diagnostic Scan</span> </a></li>
                            <li><a href="{% url 'diagnosis:request_scanning' %}"> <i class="fab fa-wpforms"></i> <span>Make Request</span>
                            </a></li>
                        {% endif %}
                        {% if account.category != 'Receptionist' %}
                            <li><a href="{% url 'diagnosis:report' %}"> <i class="far fa-comments"></i>
                                <span>Write Report</span>
                            </a></li>
                        {% endif %}
                        {% if account.category != 'Consultant' %}
                            <li><a href="{% url 'diagnosis:status' %}"> <i class="far fa-address-book"></i>
                                <span>Status</span>
                            </a></li>
                        {% endif %}
                    </ul>
                </li>
                {% if account.category == 'Admin' %}
                    <li><a href="#">Administrator</a>
                        <ul>
                            <li><a href=""> <i class="far fa-sticky-note"></i> <span>Manage News</span> </a></li>
                            <li><a href=""> <i class="fa fa-tasks"></i> <span>General Sales</span> </a></li>
                            <li><a href="{% url 'staff:account' %}"> <i class="fa fa-search"></i>
                                <span>Manage Users</span>
                            </a>
                            </li>
                            <li><a href="{% url 'staff:employee' %}"> <i class="fab fa-wpforms"></i>
                                <span>Manage Employees</span> </a></li>
                            <li><a href=""> <i class="far fa-comments"></i> <span>General Report</span> </a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% else %}
        <div class="sidebar--nav">
            <ul>
                <li><a href="#">Administrator Panel</a>
                    <ul>
                        {% comment %}
                    {% with path='url-path' title='Tita' icon='fa-table' %}
                        {% include 'components/nav_link.html' %}
                    {% endwith %}
                    {% endcomment %}
                        <li class="active open"><a href="{% url 'index:admin_dashboard' %}">
                            <i class="fa fa-th"></i> <span>Institutions</span> </a>
                        </li>
                        <li><a href="{% url 'index:subscriptions_list' %}">
                            <i class="fa fa-th-list"></i> <span>Subscriptions</span> </a>
                        </li>
                        <li><a href="{% url 'index:create_admin' %}"> <i class="far fa-envelope"></i>
                            <span>Admin-User</span> </a></li>
                        <li><a href="{% url 'index:profile' %}"> <i class="far fa-calendar-alt"></i> <span>Profile</span> </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    {% endif %}
</aside>