{% load tag_filter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipt</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/fontawesome-all.min.css"/>
    <style type="text/css">
        @media print, screen {

            * {
                margin: 2px;
                padding: 0;
            }

            table {
                border: none;
            }

            img {
                position: absolute;
                width: 48px;
                right: 4px;
                z-index: -100;

            }

            body {
                margin: auto;
                padding-right: 6px;
                position: relative;
                width: 110mm;
                background: #fff;
            }

            main {
                font-size: 14pt;

            }

            div.extra-info b {
                width: 200px;
            }

            div.extra-info p {
                margin-bottom: 0;
            }

            div.extra-info {
                margin-top: 8px;
                font-size: 11pt;
            }

            .half{
                display: inline-table;
                width: 48.5%;
            }

            tbody, tfoot, article {
                font-size: 14pt;
            }

            td {
                padding-right: 6px;
            }

            td:last-of-type {
                padding-right: 0;
            }

            small {
                display: block;
                line-height: .8em !important;
                font-size: .55em !important;
                margin-top: -2px;
            }

            table {
                border-collapse: collapse;
            }

            tr {
                border-bottom: 1px solid black;
            }

            tfoot {
                font-weight: 600;
            }

            th {
                text-align: center;
                font-weight: bold;
            }

            footer {
                display: none;
            }

            .actions {
                padding: 0;
                margin: 0;
            }

            .back span {
                position: absolute;
                top: 10px;
                left: 0;
            }

            .back {
                padding-left: 16px;
            }

        }

        @media print {
            .btn {
                display: none;
            }

            footer {
                display: block;
                font-size: 12pt;
                text-align: center;
                font-style: italic;
            }
        }

    </style>
</head>
<body>
<div class="actions">
    <a href="{% url 'diagnosis:request_scanning' %}" class="btn back"><span class=" fa fa-long-arrow-left"></span> Back</a>
</div>
<main>
    <h4 align="center">{{ order.attained_by.employee.institution }}</h4>
    <h6 align="center"><font style="color:red;">Address:</font>{{ order.attained_by.employee.institution.address }}</h6>
   <article>
        <b>Name:</b> {{ order.customer }}<br/>
        <b>Phone: </b> {{ order.phone }}<br/>
        <b>Invoice ID:</b> 000{{ order.id }} <br/>
        <b>Date:</b> {{ order.created | date:'F d, Y' }}<br/>
        <b>Time:</b> {{ order.created | date:'h:m:s' }}<br/>
        <b>Attained By:</b> {{ order.attained_by.employee.name }}
   </article>

    <table class="table table-bordered data-table">
        <thead>
            <tr>
                <th>Requested</th>
                <th>Request Id</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for item in basket %}
                <tr>
                    <td>{{ item.scanning.name }}</td>
                    <td>{{ item.id }}</td>
                    <td>{{ item.scanning.price | money_format}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="extra-info">
        <div class="half">
            <p><b>Cash: </b> {{ order.cash | money_format}}</p>
            <p><b>Transfer : </b> {{ order.transfer | money_format}}</p>
            <p><b>Total Paid: </b> {{ order.get_total_cost | money_format}}</p>
            <p><b>Balance Due: </b> {{ due | money_format }}</p>
        </div>
    </div>


    <br/>
</main>
<footer>Powered by <a href="">Zango </a>.</footer>
<div class="actions">
    <button class="btn btn-app pull-left" id="btn-print"><span class="fa fa-2x fa-print"></span> Print</button>
</div>
<script src="/static/js/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#btn-print').click(function () {
            window.print();
        })

        $('#btn-delete').click(function (e) {
            var target = $(this).data('target');

            swal({
                    title: "Delete?",
                    text: "Are you sure you want delete this transaction! This action cannot be reversed",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete!",
                    cancelButtonText: "No, cancel!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function (isConfirm) {
                    if (isConfirm) {
                        window.location.href = target;
                        swal({
                            title: "Delete authorized",
                            type: "success",
                            text: "Transaction is being deleted",
                            showConfirmButton: false
                        });

                    } else {
                        swal({
                            title: "Delete aborted!",
                            type: "error",
                            text: "Delete has been cancelled.",
                            timer: 1850,
                            showConfirmButton: false
                        });
                    }
                });
        })
    })
</script>
</body>
</html>