<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>

    <title>Receipt for {{ order.customer.name }}</title>

    <link rel='stylesheet' type='text/css' href='/static/invoice/css/style.css'/>
    <link rel='stylesheet' type='text/css' href='/static/invoice/css/print.css' media="print"/>
    <script type='text/javascript' src='/static/invoice/js/jquery-1.3.2.min.js'></script>
    <script type='text/javascript' src='/static/invoice/js/example.js'></script>

</head>

<body onload="window.print();">

<div id="page-wrap">

    <textarea id="header">Asing And Brothers</textarea>

    <div id="identity">

        <textarea id="address">Ashing And Brothers
No 111 Singa, Fagge Kano, Nigeria.
0708 006 465</textarea>

        <div id="logo">
            <img id="image" src="images/logo.png" alt="logo"/>
        </div>

    </div>

    <div style="clear:both"></div>

    <div id="customer">
        <table id="meta">
            <tr>
                <td class="meta-head">Invoice #</td>
                <td><textarea>000{{ order.id }}</textarea></td>
            </tr>
            <tr>
                <td class="meta-head">Customer</td>
                <td><textarea id="date">{{ order.customer.name }}</textarea></td>
            </tr>
            <tr>
                <td class="meta-head">Contact</td>
                <td>
                    <div class="due">{{ order.customer.contact }}</div>
                </td>
            </tr>
            <tr>
                <td class="meta-head">Date</td>
                <td><textarea id="date">{{ order.created|date:'M D, Y' }}</textarea></td>
            </tr>
            <tr>
                <td class="meta-head">Time</td>
                <td><textarea id="date">{{ order.created|date:'h: m' }}</textarea></td>
            </tr>


        </table>

    </div>

    <table id="items">

        <tr>
            <th>S/N</th>
            <th>Item</th>
            <th>Unit Cost</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        {% for item in order_item_set %}
            <tr class="item-row">
                <td>
                    <span class="price"></span>{{ forloop.counter }}
                </td>
                <td class="item-name">
                    <div class="delete-wpr"><textarea>{{ item.product }}</textarea><a class="delete" href="javascript:;"
                                                                                      title="Remove row">X</a></div>
                </td>
                <td class="description">
                    <textarea>{{ item.price }}</textarea>
                </td>
                <td>
                    <textarea class="cost">{{ item.quantity }}</textarea>
                </td>
                <td>
                    <textarea class="qty">{{ item.get_cost }}</textarea>
                </td>
            </tr>
        {% endfor %}

        <tr>
            <td colspan="2" class="blank"></td>
            <td colspan="2" class="total-line">Total</td>
            <td class="total-value">
                <div id="subtotal">₦{{ order.get_total_cost }}</div>
            </td>
        </tr>
        <tr>

            <td colspan="2" class="blank"></td>
            <td colspan="2" class="total-line">Bank Payment</td>
            <td class="total-value">
                <div id="total">₦{{ order.bank_paid }}</div>
            </td>
        </tr>
        <tr>

            <td colspan="2" class="blank"></td>
            <td colspan="2" class="total-line">Cash Payment</td>
            <td class="total-value">
                <div id="total">₦{{ order.cash_paid }}</div>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="blank"></td>
            <td colspan="2" class="total-line">Amount Paid</td>

            <td class="total-value"><textarea id="paid">₦{{ order.amount_paid }}</textarea></td>
        </tr>
        {% if debt.count <= 0 %}
            <tr>
                <td colspan="2" class="blank"></td>
                <td colspan="2" class="total-line balance">Balance Due</td>
                <td class="total-value balance">
                    <div class="due">{{ order.balance }}</div>
                </td>
            </tr>
        {% else %}
            {% for d in debt %}
                <tr>
                    <td colspan="2" class="blank">Debt Payment {{ forloop.counter }}</td>
                    <td colspan="2" class="total-line balance">Balance Paid</td>
                    <td class="total-value balance">
                        <div class="due">{{ d.paid }} ({{ d.created|date:'M D, Y ,h: m' }})</div>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2" class="blank"></td>
                <td colspan="2" class="total-line balance">Balance Due</td>
                <td class="total-value balance">
                    <div class="due">{{ order.balance }}</div>
                </td>
            </tr>
        {% endif %}
    </table>

    <div id="terms">
        <h5>Asing And Brothers</h5>
        <textarea>Powered By Muslim Habibu Inuwa</textarea>
    </div>

</div>

</body>

</html>
