{% extends 'base.html' %}
{% load widget_tweaks %}

{% block style %}
    <link rel="stylesheet" href="/static/css/bootstrap-wysihtml5.css"/>
{% endblock %}


{% block content %}
    <section class="main--content">
        <div class="row gutter-20">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title pad">Write Report</h3>
                    </div>
                    <div class="panel-content">
                        <form id="form-wizard" class="form-horizontal" method="post">{% csrf_token %}
                            <div class="form-group row">
                                <span class="label-text col-md-2 col-form-label text-md-right">Imaging No</span><br/><hr/>
                                <div class="col-md-10">
                                    {% render_field form.imaging_no class='form-control' placeholder='Imaging No' %}
                                </div>
                                <span class="label-text col-md-2 col-form-label text-md-right">Write Report</span><br/><hr/>
                                <div class="col-md-10">
                                    {% render_field form.report class='form-control' placeholder='Write the report here' %}
                                </div>
                            </div>
                            <button class="btn btn-info">Finished</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block javascripts %}
    <script src="/static/js/bootstrap-wysihtml5.js"></script>
{% endblock %}