{% extends 'app_base.html' %}
{% load widget_tweaks %}

{% block title %} {% if user_profile %}{{ user_profile.user.first_name }}{% else %}Users{% endif %}{% endblock %}

{% block page %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-{% if user_profile %}7{% else %}12{% endif %}">
                <div class="c-tabs__content tab-content u-mb-large">
                    <div class="u-mb-large">
                        <div class="c-table-responsive@desktop">
                            <table class="c-table" id="datatable">
                                <caption class="c-table__title">
                                    Registered Users
                                    <small>Hooli Consult</small>
                                </caption>

                                <thead class="c-table__head c-table__head--slim">
                                <tr class="c-table__row">
                                    <th class="c-table__cell c-table__cell--head">Name</th>
                                    <th class="c-table__cell c-table__cell--head">Email</th>
                                    <th class="c-table__cell c-table__cell--head">Profile</th>
                                    {% if not user_profile %}
                                        <th class="c-table__cell c-table__cell--head">Investment</th>
                                        <th class="c-table__cell c-table__cell--head">Message</th>
                                    {% endif %}

                                </tr>
                                </thead>

                                <tbody>
                                {% for user in users %}
                                    <tr class="c-table__row">
                                        <td class="c-table__cell">{{ user.user.get_full_name }}</td>
                                        <td class="c-table__cell">{{ user.user.email }}</td>
                                        <td class="c-table__cell">
                                            <a href="{{ user.get_profile_url }}">
                                                <button class="c-btn c-btn--fancy">
                                                    <span class="fa fa-user-circle"></span>
                                                    Check
                                                </button>
                                            </a>
                                        </td>
                                        {% if not user_profile %}
                                            <td class="c-table__cell">
                                                <a href="{{ user.get_profile_url }}">
                                                    <button class="c-btn c-btn--success c-btn--fullwidth">
                                                        <span class="fa fa-briefcase"></span>
                                                        Investment
                                                    </button>
                                                </a>
                                            </td>
                                            <td class="c-table__cell">
                                                <a href="{% url 'send_newsletter' 'user' user.user_id %}" class="c-btn c-btn--warning"><span class="fa fa-envelope"></span> Send</a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div><!-- // .container -->
            </div>
            {% if user_profile %}
                <div class="col-xl-5">
                <div class="c-card u-p-medium u-mb-medium">
                    <div class="u-text-center">
                        <div class="c-avatar c-avatar--large u-mb-small u-inline-flex">
                            {% if user_profile.image %}
                                <img class="c-avatar__img logo" src="{{ user_profile.image.url }}" id="image_preview" alt="Avatar">
                            {% else %}
                                <img class="c-avatar__img" src="/static/images/logo.png" id="image_preview" alt="Avatar">
                            {% endif %}
                        </div>
                        <h3 class="u-h5">{{ user_profile.user.get_full_name }}</h3>
                        <p>{{ user_profile.user }}</p>
                    </div>

                    <div class="u-flex u-mt-medium">
                        <a class="c-btn c-btn--info c-btn--fullwidth u-mr-xsmall" href="{% url 'wallet_admin_group' 'user' user_profile.id %}">Transactions</a>
                        <a class="c-btn c-btn--secondary c-btn--fullwidth" href="{% url 'user_investments' %}">View Investment</a>
                    </div>

                    <table class="c-table u-text-center u-pv-small u-mt-medium u-border-right-zero u-border-left-zero">
                        <thead>
                        <tr>
                            <th class="u-pt-small u-color-primary">{{ user_profile.user.investment_set.all.count }}</th>
                            <th class="u-pt-small u-color-primary">{{ user_profile.user.transaction_set.all.count }}</th>
                            <th class="u-pt-small u-color-primary">{{ user_profile.user.referrer.conversion_set.count }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="u-text-mute u-text-xsmall u-pb-small u-text-uppercase">Investments</td>
                            <td class="u-text-mute u-text-xsmall u-pb-small u-text-uppercase">Transactions</td>
                            <td class="u-text-mute u-text-xsmall u-pb-small u-text-uppercase">Referrals</td>
                        </tr>
                        </tbody>
                    </table>


                    <div class="u-pt-medium u-text-center">
                        <a class="u-text-mute u-text-small" href="https://workspace.com/geraldvaughn">
                            <i class="fa fa-map-pin u-mr-xsmall"></i>{{ user_profile.address }}
                        </a>
                    </div>
                </div>

                <div class="c-card u-p-medium u-mb-medium">
                    <h5 class="u-mb-medium">Account Info</h5>

                    <table class="c-table u-border-zero">
                        <thead class="c-table__head u-border-bottom">
                        <tr>
                            <th class="c-table__cell u-text-right u-p-zero u-pb-medium">05 / 19</th>
                            <th class="c-table__cell u-text-right u-p-zero u-pb-medium">
                                <span class="u-text-mute">VISA</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="u-pt-medium">
                        <tr class="c-table__row u-border-zero">
                            <td class="c-table__cell u-p-zero u-pb-xsmall u-pt-medium">Bank Name</td>
                            <td class="c-table__cell u-p-zero u-pb-xsmall u-pt-medium">
                                <span class="u-text-mute">Active/Inactive</span>
                            </td>
                            <td class="c-table__cell u-p-zero u-pb-xsmall u-pt-medium u-text-right">
                                <span class="u-text-mute">{{ user_profile.bank_name }}</span>
                            </td>
                        </tr>
                        <tr class="c-table__row u-border-zero">
                            <td class="c-table__cell u-p-zero u-pb-xsmall">Account No</td>
                            <td class="c-table__cell u-p-zero u-pb-xsmall">
                                <span class="u-text-mute"></span>
                            </td>
                            <td class="c-table__cell u-p-zero u-pb-xsmall u-text-right">
                                <span class="u-text-mute">{{ user_profile.account_no }}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
        </div>

    </div><!-- // .container-fluid -->
{% endblock %}

{% block script %}
    <script>
        window.ga = function () {
            ga.q.push(arguments)
        };
        ga.q = [];
        ga.l = +new Date;
        ga('create', 'UA-88739867-2', 'auto');
        ga('send', 'pageview')
    </script>
{% endblock %}