{% load tag_filter %}

<li class="c-sidebar__item">
    {% if param == None %}
        <a class="c-sidebar__link {% is_active request.path path %}" href="{% url path %}">
    {% else %}
        <a class="c-sidebar__link {% is_active request.path path param %}" href="{% url path param%}">
    {% endif %}
        <i class="fa {{ icon }} u-mr-xsmall active"></i>{{ title }}
    </a>
</li>