{% extends 'app_base.html' %}
{% load widget_tweaks %}

{% block title %} Profile{% endblock %}

{% block page %}
    <div class="u-mb-large">
        <div class="col-12">
            <div class="c-tabs">

                <ul class="c-tabs__list c-tabs__list--splitted nav nav-tabs" id="myTab" role="tablist">
                    <li class="c-tabs__item"><a class="c-tabs__link active" id="nav-home-tab" data-toggle="tab"
                                                href="#nav-home" role="tab" aria-controls="nav-home"
                                                aria-selected="true">Add Administrator</a></li>
                </ul>

                <div class="c-tabs__content tab-content" id="nav-tabContent">
                    <div class="alert c-alert--info c-alert-block">
                        {% if messages %}
                            {% for message in messages %}
                                <a class="c-close" data-dismiss="alert" href="#">×</a> {{ message }}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="c-tabs__pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <form method="post" enctype="multipart/form-data">{% csrf_token %}
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="c-field u-mb-small">
                                        <label class="c-field__label" for="{{ form.first_name.auto_id }}">First
                                            Name</label>
                                        {{ form.first_name | add_class:'c-input' }}
                                    </div>

                                    <div class="c-field u-mb-small">
                                        <label class="c-field__label" for="{{ form.last_name.auto_id }}">Last
                                            Name</label>
                                        {{ form.last_name  | add_class:'c-input' }}
                                    </div>

                                    <div class="c-field u-mb-small">
                                        <label class="c-field__label" for="{{ form.username.auto_id }}">Email</label>
                                        {{ form.username | add_class:'c-input' }}
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="c-field u-mb-small">
                                        <label class="c-field__label" for="{{ form.password.auto_id }}">Password</label>
                                        {{ form.password | add_class:'c-input' }}
                                    </div>

                                    <div class="c-field u-mb-small">
                                        <label class="c-field__label" for="{{ form.password_.auto_id }}">Confirm
                                            Password</label>
                                        {{ form.password_ | add_class:'c-input' }}
                                    </div>
                                </div>
                                <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-12 u-mt-small">
                                    <button class="c-btn c-btn--success c-btn--fullwidth"><span
                                            class="fa fa-save"></span> Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div><!-- // .col-12 -->
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $("#image-upload").click(function () {
                $('#id_image').click()
            });
            $('#id_image').change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#image_preview").attr('src', e.target.result);
                    };
                    reader.readAsDataURL(this.files[0]);
                }
            })
        })
    </script>
{% endblock %}