{% load widget_tweaks %}
<!doctype html>
<html lang="en-us" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Register | Farmerinsuit</title>
    <meta name="description" content="Farmerinsuit">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/logo/logo5.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/css/main.min.css?v=2.0.css">
</head>
<body class="o-page o-page--center u-pt-zero col-sm-12">
<br/>
<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
<div class="col-sm-10 col-md-8 offset-sm-1 offset-md-2 ">
    <div class="c-card u-mb-zero u-mt-large ">
        <header class="c-card__header u-pt-large u-pb-xsmall">
            <img src="/static/images/logo/logo5.png" alt="Farmer in suit"
                 style="position:absolute; width: 200px; top: -64px; left: calc(50% - 100px); display: block;">
        </header>
        <div class="alert alert-{% if message.tags == 'success' %}success{% endif %} alert-block">
            {% if messages %}
                {% for message in messages %}
                    <span class="c-alert c-alert--danger" data-dismiss="alert" href="#">{{ message }}</span>
                {% endfor %}
            {% endif %}
        </div>
<form method="post" id="social" class="d-none">
{% csrf_token %}
{{ social_form }}
</form>        <style>
            .c-btn--large {
                font-size: 1.4em;
            }

            .c-field__label {
                font-size: 1em;
            }

            .c-input {
                font-size: 1em;
            }


        </style>
        <div class="row">
            <form class="c-card__body col-md-6" method="post" action="{% url 'login' %}">{% csrf_token %}
                <h2 class="u-text-mute u-text-bold u-text-uppercase u-text-center">Welcome back! Login</h2>
                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="input1">Log in with your e-mail address</label>
                    {{ login_form.username | add_class:"c-input" | append_attr:"id:input1" }}
                </div>

                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="input2">Password</label>
                    {{ login_form.password | add_class:"c-input" | append_attr:"id:input2" }}
                </div>

                <button class="c-btn c-btn--large u-mb-small c-btn--success c-btn--fullwidth" type="submit">Sign in to
                    Dashboard
                </button>
                <a class="u-mb-small c-btn c-btn--large u-bg-facebook u-width-100 fb-login">
                    <i class="fa fa-facebook" style="position: absolute; left: 16px; top: 8px; font-size: 1.75em;"></i>Login
                    with facebook
                </a>
                <a class="u-text-mute u-text-small u-mt-large" href="{% url 'password_reset' %}"> Forgot Password?</a>

            </form>
            <style>

                .seperator:before,
                .seperator:after {
                    content: '';
                    position: absolute;
                    background: #999;
                }
                .seperator {
                    background: #999;
                    width: 32px;
                    height: 32px;
                    border-radius: 15px;
                    color: #fff;
                    font-weight: bold;
                    text-align: center;
                    padding-top: 3px;
                    text-transform: uppercase;
                }

            @media screen and (min-width: 768px) {
                .seperator:before {
                    top: -260px;
                }

                .seperator:after {
                    top: 36px;
                }

                .seperator:before,
                .seperator:after {
                    height: 256px;
                    width: 2px;
                    left: calc(50% - 1px);
                }

                .seperator {
                    position: absolute;
                    left: calc(50% - 16px);
                    top: calc(50%);
                }
            }

            @media screen and (max-width: 767px) {
                .seperator:before {
                    right: 40px;
                }

                .seperator:after {
                    left: 40px;
                }

                .seperator:before,
                .seperator:after {
                    height: 2px;
                    width: 144px;
                    top: calc(50% - 1px);
                }

                .seperator {
                    position: relative;
                    left: calc(50% - 16px);
                    top: calc(50%);
                }
            }
            </style>
            <div class="seperator">or</div>
            <form class="c-card__body col-md-6" method="post" action="{% url 'register' %}">{% csrf_token %}
                <h2 class="u-text-mute u-text-bold u-text-uppercase u-text-center">STart a farm today! join now</h2>
                <div class="row">
                    <div class="col-6">
                        <div class="c-field u-mb-small">
                            <label class="c-field__label"
                                   for="{{ reg_form.first_name.auto_id }}">{{ reg_form.first_name.label }}</label>
                            {{ reg_form.first_name | add_class:"c-input" }}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="c-field u-mb-small">
                            <label class="c-field__label"
                                   for="{{ reg_form.last_name.auto_id }}">{{ reg_form.last_name.label }}</label>
                            {{ reg_form.last_name | add_class:"c-input" }}
                        </div>
                    </div>
                </div>
                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="{{ reg_form.email.auto_id }}">{{ reg_form.email.label }}</label>
                    {{ reg_form.email | add_class:"c-input" }}
                </div>

                <div class="c-field u-mb-small">
                    <label class="c-field__label"
                           for="{{ reg_form.password.auto_id }}">{{ reg_form.password.label }}</label>
                    {{ reg_form.password | add_class:"c-input" }}
                </div>

                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="{{ reg_form.password_.auto_id }}">Confirm Password</label>
                    {{ reg_form.password_ | add_class:"c-input" }}
                </div>

                <button class="c-btn c-btn--large u-mb-small c-btn--success c-btn--fullwidth" type="submit">Signup                </button>
                <a class="u-mb-small c-btn c-btn--large u-bg-facebook u-width-100 fb-login">
                    <i class="fa fa-facebook" style="position: absolute; left: 16px; top: 8px; font-size: 1.75em;"></i>
                    Continue with facebook
                </a>
            </form>
        </div>

    </div>

</div>
<div id="prepend"></div>

<!-- Main javascsript -->
<script src="/static/js/main.min.js%3Fv=2.0"></script>
<script>
    $(function () {
        $('.fb-login').click(function () {
            FB.login(function(response) {
                if (response.authResponse) {
                    checkLoginState();
                }
            }, {scope: 'email'});
        })
    })
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '636679080039645',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.0'
    });
    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
   }

   function statusChangeCallback(response) {
                console.log('statusChangeCallback');
                console.log(response);
                // The response object is returned with a status field that lets the
                // app know the current login status of the person.
                // Full docs on the response object can be found in the documentation
                // for FB.getLoginStatus().
                if (response.status === 'connected') {
                        document.getElementById('prepend').innerHTML = '<div style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #222c; z-index: 100;"><span style="margin: 256px 45%; display: block;"><span class="fa fa-spinner fa-2x fa-spin"></span></span></div>';
                    // Logged into your app and Facebook.
                    console.log('Welcome!  Fetching your information.... ');
                    FB.api('/me?fields=id,email,first_name,last_name', function (user) {
                        console.log('Successful login for: ' + response.name);
                        for(field in user) {
                            document.getElementById('id_social-' + field).value = user[field];
                        }
                        document.getElementById('social').submit();
                        document.getElementById('status').innerHTML =
                          'Thanks for logging in, ' + response.name + '!' + '<br/>' + JSON.stringify(response);
                    });
                } else {
                    // The person is not logged into your app or we are unable to tell.
                    document.getElementById('status').innerHTML = 'Please log ' +
                      'into this app.';
                }
            }
    
</script>
<script>
    window.ga = function () {
        ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-88739867-2', 'auto');
    ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
