{% extends 'app_base.html' %}
{% load widget_tweaks %}

{% block title %} Profile{% endblock %}

{% block page %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-12 u-mt-small">
                <h1 style="font-size: 34px;">Password changed</h1>
                <p style="font-size: 14px;">Your password has been successfully changed.</p>
            </div>
        </div>
    </div>
{% endblock %}
