{% load widget_tweaks %}
<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Log in | Dashboard UI Kit</title>
    <meta name="description" content="Dashboard UI Kit">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600" rel="stylesheet">

    <!-- Favicon -->
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/logo/logo5.png">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/css/main.min.css%3Fv=2.0.css">
</head>
<body class="o-page o-page--center">
<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

<div class="o-page__card">
    <div class="c-card u-mb-xsmall">
        <header class="c-card__header u-pt-large u-pb-xsmall">
            <img src="/static/images/logo.png" alt="Farmer in suit"
                 style="position:absolute; width: 140px; top: -92px; left: calc(50% - 70px); display: block;">
            <h1 class="u-h3 u-text-center u-mb-zero">Password set</h1>
        </header>
        <form class="c-card__body" method="post">{% csrf_token %}
            <div class="alert alert-{% if message.tags == 'success' %}success{% endif %} alert-block">
                {% if messages %}
                    {% for message in messages %}
                        <a class="close" data-dismiss="alert" href="#">×</a> {{ message }}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="c-field u-mb-small">
                <p>Your password has been set. You can <a href="{% url "login" %}">log in now</a></p>
            </div>
        </form>
        <a href="{% url 'login' %}">
            <button class="c-btn c-btn--info c-btn--fullwidth">Login</button>
        </a>
    </div>

</div>

<!-- Main javascsript -->
<script src="/static/js/main.min.js?v=2.0"></script>

<script>
    window.ga = function () {
        ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-88739867-2', 'auto');
    ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>