{% extends 'app_base.html' %}
{% load widget_tweaks %}

{% block title %} Profile{% endblock %}

{% block page %}
    <div class="u-mb-large">
        <div class="col-12">
            <div class="c-tabs">

                <ul class="c-tabs__list c-tabs__list--splitted nav nav-tabs" id="myTab" role="tablist">
                    <li class="c-tabs__item"><a class="c-tabs__link active" id="nav-home-tab" data-toggle="tab"
                                                href="#nav-home" role="tab" aria-controls="nav-home"
                                                aria-selected="true">Add Administrator</a></li>
                </ul>

                <div class="c-tabs__content tab-content" id="nav-tabContent">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div>
                            <span class="c-alert c-alert--danger" data-dismiss="alert"
                                  href="#">{{ error|escape }}</span>
                                </div>
                            {% endfor %}
                        {% endfor %}

                        {% for error in form.non_field_errors %}
                            <div>
                                <span class="c-alert c-alert--danger" data-dismiss="alert"
                                      href="#">{{ error|escape }}</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="c-tabs__pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <form method="post" enctype="multipart/form-data">{% csrf_token %}
                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="c-field u-mb-small">
                                        <label class="c-field__label" for="{{ form.old_password.auto_id }}">Old
                                            Password</label>
                                        {{ form.old_password | add_class:'c-input' }}
                                    </div>

                                    <div class="c-field u-mb-small">
                                        <label class="c-field__label" for="{{ form.new_password1.auto_id }}">New
                                            Password</label>
                                        {{ form.new_password1 | add_class:'c-input' }}
                                    </div>

                                    <div class="c-field u-mb-small">
                                        <label class="c-field__label" for="{{ form.new_password2.auto_id }}">Confirm
                                            Password</label>
                                        {{ form.new_password2 | add_class:'c-input' }}
                                    </div>
                                </div>
                                <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-12 u-mt-small">
                                    <button class="c-btn c-btn--success c-btn--fullwidth"><span
                                            class="fa fa-save"></span> Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div><!-- // .col-12 -->
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $("#image-upload").click(function () {
                $('#id_image').click()
            });
            $('#id_image').change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#image_preview").attr('src', e.target.result);
                    };
                    reader.readAsDataURL(this.files[0]);
                }
            })
        })
    </script>
{% endblock %}
