{% extends 'base.html' %}

{% block content %}
<section class="main--content">
    <div class="row gutter-20">
        <div class="col-md-{% if employee_check %}8{% else %}12{% endif %}">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title pad">Employee(s)</h3>
                    <a href="{% url 'staff:employee_add' %}" class="btn btn-sm btn-outline-info ">Add Employee</a>
                </div>
                <div class="panel-content">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Sex</th>
                            {% if not employee_check %}
                                <th>Status</th>
                                <th>Phone No</th>
                                <th>Nationality</th>
                            {% endif %}
                            <th>Check</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for employee in employees %}
                            <tr class="gradeX">
                                <td>{{ employee.name }}</td>
                                <td>{{ employee.sex }}</td>
                                {% if not employee_check %}
                                    <td>{{ employee.status }}</td>
                                    <td>{{ employee.phone }}</td>
                                    <td>{{ employee.nationality }}</td>
                                {% endif %}
                                <td>
                                    <a href="{% url 'staff:employee_check' employee.id %}">
                                        <button class="btn btn-dark">Check</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% if employee_check %}
            <div class="col-md-4">
            <div class="panel">
            <div class="panel-heading"><h3 class="panel-title">About Me</h3></div>
            <div class="panel-content panel-about">
        {% if employee_check.passport %}
            <img class="" src="{{ employee_check.passport.url }}" id="image_preview" alt="Avatar">
        {% else %}
            <img class="rounded-circle" src="/static/img/avatars/haroun.jpg" id="image_preview" alt="Avatar">
        {% endif %}
        <p><b>Address: </b>{{ employee_check.address }}</p>
        <p><b>Nationality: </b>{{ employee_check.nationality }}</p>
        <p><b>Joined On: </b>{{ employee_check.date_employed }}</p>
        <table>
            <tr>
                <th><i class="fas fa-briefcase"></i>Permission</th>
                <td>{% if employee_check.agent %}None{% else %}{{ employee_check.agent }}{% endif %}</td>
            </tr>
            <tr>
                <th><i class="fas fa-birthday-cake"></i>Date of Birth</th>
                <td>{{ employee_check.date_of_birth }}</td>
            </tr>
            <tr>
                <th><i class="fas fa-map-marker-alt"></i>Sex</th>
                <td>{{ employee_check.sex }}</td>
            </tr>
            <tr>
                <th><i class="fas fa-mobile-alt"></i>Mobile No.</th>
                <td><a href="tel:{{ employee_check.phone }}"
                       class="btn-link">{{ employee_check.phone }}</a></td>
            </tr>
            <tr>
                <th><i class="fas fa-globe"></i>Status</th>
                <td><a href="mailto:example.com" class="btn-link">{{ employee_check.status }}</a></td>
            </tr>
        </table>
        </div>
        </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script src="/static/datatables/jquery.dataTables.js"></script>
    <script src="/static/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/static/datatables/sb-admin-datatables.min.js"></script>
{% endblock %}