{% extends 'base.html' %}
{% load widget_tweaks %}

{% block style %}
    <link rel="stylesheet" href="/static/css/sweetalert.min.css">
    <link rel="stylesheet" href="/static/css/sweetalert-overrides.css">
{% endblock %}
{% block content %}
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading"><h3 class="panel-title">Form Elements</h3></div>
            <div class="panel-content">{{ error }}
                <form method="post">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <span class="label-text col-md-4 col-form-label text-md-right">Name</span>
                                <div class="col-md-8">
                                    {% render_field form.name placeholder="Name..." class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <span class="label-text col-md-4 col-form-label text-md-right">Passport</span>
                                <div class="col-md-8">
                                    <label class="custom-file">
                                        {% render_field form.passport class="custom-file-input" %}
                                        <span class="custom-file-label">Passport</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <span class="label-text col-md-4 col-form-label text-md-right">Address</span>
                                <div class="col-md-8">
                                    {% render_field form.address placeholder="Address..." class="form-control" %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <span class="label-text col-md-4 col-form-label text-md-right">Sex</span>
                                <div class="col-md-8">
                                    {% render_field form.sex class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <span class="label-text col-md-4 col-form-label text-md-right">Status</span>
                                <div class="col-md-8">
                                    {% render_field form.status class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <span class="label-text col-md-4 col-form-label text-md-right">Employed No</span>
                                <div class="col-md-8">
                                    {% render_field form.date_employed placeholder='MM-DD-YYYY' class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <span class="label-text col-md-4 col-form-label text-md-right">Dob</span>
                                <div class="col-md-8">
                                    {% render_field form.date_of_birth placeholder='MM-DD-YYYY' class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <span class="label-text col-md-4 col-form-label text-md-right">Nationality</span>
                                <div class="col-md-8">
                                    {% render_field form.nationality placeholder="Nationality..." class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <span class="label-text col-md-4 col-form-label text-md-right">Phone</span>
                                <div class="col-md-8">
                                    {% render_field form.phone placeholder="Phone..." class="form-control" %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-block btn-success" > Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="/static/js/sweetalert.min.js"></script>
    <script src="/static/js/sweetalert-init.js"></script>
{% endblock %}