{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Add Scan{% endblock %}

{% block page_title %}Users {% endblock %}

{% block content %}

    <section class="main--content">
        <div class="row gutter-20">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title pad">Administrator(s)</h3>
                        <a href="#add-user" class="btn btn-sm btn-outline-info" data-toggle="modal">
                            Create New Administrator
                        </a>
                    </div>
                    <div class="panel-content">
                        <table class="table table-bordered" id="dataTable" width="200%" cellspacing="0">
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close"
                                                    data-dismiss="alert"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <i class="fa fa-times-circle"></i> {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}

                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close"
                                                data-dismiss="alert"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <i class="fa fa-times-circle"></i> {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{% if message.tags == 'success' %}dark{% else %}danger{% endif %} alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert"
                                                aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        <i class="fa fa-times-circle"></i> {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Username</th>
                                <th>Last Login</th>
                                <th>Deactivate</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for administrator in administrators %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ administrator.username }}</td>
                                    <td>{{ administrator.last_login }}</td>
                                    <td>
                                        {% if administrator.is_active %}
                                            <button class="btn btn-outline-info">Deactivate</button>
                                        {% else %}
                                            <button class="btn btn-outline-success">Activate</button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="add-user" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h5 class="modal-title">Create Admin Profile</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form method="post">{% csrf_token %}
                    <div class="modal-body">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i> </span>
                            </div>
                            {% render_field form.username name="email" class="form-control" placeholder='Username ...' %}
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-star"></i> </span>
                            </div>
                            {% render_field form.password1 name="email" class="form-control" placeholder='Enter Password' %}
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-star"></i> </span>
                            </div>
                            {% render_field form.password2 name="email" class="form-control" placeholder='Re-enter password' %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Create User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/static/datatables/jquery.dataTables.js"></script>
    <script src="/static/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/static/datatables/sb-admin-datatables.min.js"></script>
{% endblock %}
