{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Administrator Dashboard| Lab{% endblock %}

{% block page_title %}Dashboard {% endblock %}

{% block content %}
    <section class="main--content">
        <div class="row gutter-20">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title pad">Institution(s)</h3>
                        <a href="#add-user" class="btn btn-sm btn-outline-info" data-toggle="modal">
                            Create New Institution
                        </a>
                    </div>
                    <div class="panel-content">
                        <table class="table table-bordered" id="dataTable" width="200%" cellspacing="0">
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close"
                                                    data-dismiss="alert"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <i class="fa fa-times-circle"></i> {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}

                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close"
                                                data-dismiss="alert"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <i class="fa fa-times-circle"></i> {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{% if message.tags == 'success' %}dark{% else %}danger{% endif %} alert-dismissible"
                                         role="alert">
                                        <button type="button" class="close" data-dismiss="alert"
                                                aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        <i class="fa fa-times-circle"></i> {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Contact</th>
                                <th>Joined On</th>
                                <th>Subscriptions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for institution in institutions %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ institution.name }}</td>
                                    <td>{{ institution.address }}</td>
                                    <td>{{ institution.contact }}</td>
                                    <td>{{ institution.created }}</td>
                                    <td><a href="{% url 'index:subscriptions' institution.id %}">
                                        <button class="btn btn-dark">Check</button>
                                    </a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="add-user" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h5 class="modal-title">Create New Business</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form method="post">{% csrf_token %}
                    <div class="modal-body">
                        <div class="input-group">
                            <div class="input-group-prepend">
                            </div>
                            {% render_field form.name name="email" class="form-control" placeholder='Name ...' %}
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                            </div>
                            {% render_field form.address name="address" class="form-control" placeholder='Address ...' %}
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                            </div>
                            {% render_field form.contact name="contact" class="form-control" placeholder='Contact ...' %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Create Business</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/static/datatables/jquery.dataTables.js"></script>
    <script src="/static/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/static/datatables/sb-admin-datatables.min.js"></script>
{% endblock %}
