{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Add Scan{% endblock %}

{% block page_title %}Users {% endblock %}

{% block content %}

    <section class="main--content">
        <div class="row gutter-20">
            <div class="col-md-12">
                <div class="panel">
                    <div class="page--header">
                        <h3 class="page--title pad">Subscription(s)</h3>
                    </div>
                    <div class="panel-content">
                        <table class="table table-bordered" id="dataTable" width="200%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Institution</th>
                                <th>Applied On</th>
                                <th>Validity</th>
                                <th>Amount Paid</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for subscription in subscriptions %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ subscription.institution.name }}</td>
                                    <td>{{ subscription.created }}</td>
                                    <td>{{ subscription.validity }}</td>
                                    <td>{{ subscription.amount_paid }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="/static/datatables/jquery.dataTables.js"></script>
    <script src="/static/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/static/datatables/sb-admin-datatables.min.js"></script>
{% endblock %}
