{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Add Scan{% endblock %}

{% block page_title %}Add Diagnostic Scan{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="">Dashboard</a></li>
    <li class="breadcrumb-item"><span>Add</span></li>
{% endblock %}
{% block content %}

    <section class="main--content">
        <div class="row gutter-20">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title pad">Scanning(s)</h3>
                        <a href="#add-scan" class="btn btn-sm btn-outline-info" data-toggle="modal">
                            Add New Scanning
                        </a>
                    </div>
                    <div class="panel-content">
                        <table class="table table-bordered" id="dataTable" width="200%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Statements</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for scanning in scannings %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ scanning.name }}</td>
                                    <td>{{ scanning.price }}</td>
                                    <td><a href="">Check</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="add-scan" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header"><h5 class="modal-title">Modal Title</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form method="post">{% csrf_token %}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-dot-circle"></i> </span>
                            </div>
                            {% render_field form.name name="email" class="form-control" placeholder='Enter the scanning name here ...' %}
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text">₦</span></div>
                            {% render_field form.price name="email" class="form-control" placeholder='Enter the price here ...' %}
                        </div>
                        <div class="text-center" style="margin-top: 20px">
                            <button type="submit" class="btn btn-rounded btn-info">Add Diagnostic Scan</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/static/datatables/jquery.dataTables.js"></script>
    <script src="/static/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/static/datatables/sb-admin-datatables.min.js"></script>
{% endblock %}
