{% extends 'base.html' %}
{% load widget_tweaks %}
{% load tag_filter %}
{% block title %}Add Compute Scanning{% endblock %}

{% block page_title %}Add Diagnostic Scan{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="">Dashboard</a></li>
    <li class="breadcrumb-item"><span>Add</span></li>
{% endblock %}
{% block content %}
    <section class="main--content">
        <div class="row gutter-20">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title pad">Compute Scanning(s)</h3>
                    </div>
                    <div class="panel-content">
                        <table class="table table-bordered" id="dataTable" width="200%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Customer</th>
                                <th>Requested On</th>
                                <th>Scan Type</th>
                                <th>Done</th>
                                <th>Write Report</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for scanning in scannings %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ scanning.order.customer }}</td>
                                    <td>{{ scanning.order.created }}</td>
                                    <td>{{ scanning.scanning.name }}</td>
                                    <td>
                                        {% if scanning.done == False %}
                                            No
                                        {% else %}
                                            Yes
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if scanning.done == True %}
                                            <a href="{% url 'diagnosis:report_write' scanning.id %}">
                                                <button class="btn btn-outline-success">Edit</button>
                                            </a>
                                        {% else %}
                                            <a href="{% url 'diagnosis:report_write' scanning.id %}">
                                                <button class="btn btn-outline-success">Write</button>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading"><h3 class="panel-title">Done Report(s)</h3></div>
                    <div class="panel-content">
                        <table class="table table-bordered" id="dataTable" width="200%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Customer</th>
                                <th>Requested On</th>
                                <th>Scan Type</th>
                                <th>Write Report</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for scanning in scannings %}
                                {% if scanning.done == True %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ scanning.order.customer }}</td>
                                        <td>{{ scanning.order.created }}</td>
                                        <td>{{ scanning.scanning.name }}</td>
                                        <td>
                                            <a href="{% url 'diagnosis:cart_add' scanning.id %}">
                                                <button class="btn btn-outline-success">Edit</button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title pad">Pending Report(s)</h3>
                    </div>
                    <div class="panel-content">
                        <table class="table table-bordered" id="dataTable" width="200%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Customer</th>
                                <th>Requested On</th>
                                <th>Scan Type</th>
                                <th>Write Report</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for scanning in scannings %}
                                {% if scanning.done == False %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ scanning.order.customer }}</td>
                                        <td>{{ scanning.order.created }}</td>
                                        <td>{{ scanning.scanning.name }}</td>
                                        <td>
                                            <a href="{% url 'diagnosis:cart_add' scanning.id %}">
                                                <button class="btn btn-outline-success">Write</button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="/static/datatables/jquery.dataTables.js"></script>
    <script src="/static/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/static/datatables/sb-admin-datatables.min.js"></script>
{% endblock %}
