{% extends 'base.html' %}
{% load widget_tweaks %}
{% load tag_filter %}
{% block title %}Add Scan{% endblock %}

{% block page_title %}Add Diagnostic Scan{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="">Dashboard</a></li>
    <li class="breadcrumb-item"><span>Add</span></li>
{% endblock %}
{% block content %}
    <section class="main--content">
        <div class="row gutter-20">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading"><h3 class="panel-title">Customer Information</h3></div>
                    <div class="panel-content">
                        <form method="post">{% csrf_token %}
                            <div class="form-group row">
                                <span class="label-text col-lg-3 col-form-label">Name</span>
                                <div class="col-lg-9">
                                    {% render_field form.customer placeholder="Customer Name" class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group row mt-4">
                                <span class="label-text col-lg-3 col-form-label">Phone</span>
                                <div class="col-lg-9">
                                    {% render_field form.phone placeholder="Phone Number" class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group row mt-4">
                                <span class="label-text col-lg-3 col-form-label">Request By</span>
                                <div class="col-lg-9">
                                    {% render_field form.request_by placeholder="Doctor/Hospital" class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group row mt-4">
                                <span class="label-text col-lg-3 col-form-label">Cash</span>
                                <div class="col-lg-9">
                                    {% render_field form.cash placeholder="Cash Amount" value="0" class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group row mt-4">
                                <span class="label-text col-lg-3 col-form-label">Transfer</span>
                                <div class="col-lg-9">
                                    {% render_field form.transfer placeholder="Transfer Amount" value="0" class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group row mt-4">
                                <span class="label-text col-lg-3 col-form-label">Total</span>
                                <div class="col-lg-9">
                                    <input value="{{ cart.summary | money_format }}" placeholder="Transfer Amount"
                                           readonly class="form-control" name="total"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-9 offset-lg-3">
                                    <input type="submit" value="Submit" class="btn btn-sm btn-rounded btn-success">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title pad">Patient Scanning(s)</h3>
                        <a href="{% url 'diagnosis:clear_cart' %}">Clear Cart</a>
                    </div>
                    <div class="panel-content">
                        <table class="table table-bordered" id="dataTable" width="200%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in cart %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ item.product }}</td>
                                    <td>{{ item.unit_price | money_format }}</td>
                                    <td>
                                        <a href="{% url 'diagnosis:cart_remove' item.product.id %}">
                                            <button class="btn btn-outline-danger">Remove</button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title pad">All Scanning(s)</h3>
                    </div>
                    <div class="panel-content">
                        <table class="table table-bordered" id="dataTable" width="200%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Add</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for scanning in scannings %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ scanning.name }}</td>
                                    <td>{{ scanning.price | money_format }}</td>
                                    <td>
                                        <a href="{% url 'diagnosis:cart_add' scanning.id %}">
                                            <button class="btn btn-outline-success">Add</button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="/static/datatables/jquery.dataTables.js"></script>
    <script src="/static/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/static/datatables/sb-admin-datatables.min.js"></script>
{% endblock %}
