{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

{% block page_title %}Profile{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="">Dashboard</a></li>
    <li class="breadcrumb-item"><span>Profile</span></li>
{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'warning' %}danger{% endif %} alert-dismissible"
                 role="alert">
                <button type="button" class="close" data-dismiss="alert"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <i class="fa fa-times-circle"></i> {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <section class="main--content">
        <div class="row gutter-20">
            <div class="col-lg-8">
                <div class="panel profile-cover">
                    <div class="profile-cover__img"><img src="/static/img/avatars/haroun.jpg" alt="">
                        <h3 class="h3">{{ account.employee.name }}</h3></div>
                    <div class="profile-cover__action" data-bg-img="/static/img/covers/01_800x150.jpg"
                         data-overlay="0.3">
                        <button class="btn btn-rounded btn-info"><i class="fa fa-comment"></i> <span>Messages</span>
                        </button>
                    </div>
                    <div class="profile-cover__info">
                        <ul class="nav">
                            <li><strong></strong><a href="">Change Password</a></li>
                            <li><strong></strong><a href="">Edit Profile Infomation</a></li>

                        </ul>
                    </div>
                </div>
                {% comment %}<div class="panel">
                    <div class="panel-heading"><h3 class="panel-title">Activity Feed</h3></div>
                    <div class="panel-content panel-activity">
                        <form action="#" class="panel-activity__status"><textarea name="user_activity"
                                                                                  placeholder="Share what you've been up to..."
                                                                                  class="form-control"></textarea>
                            <div class="actions">
                                <div class="btn-group">
                                    <button type="button" class="btn-link" title="Post an Image"
                                            data-toggle="tooltip"><i class="far fa-image"></i></button>
                                    <button type="button" class="btn-link" title="Post an Video"
                                            data-toggle="tooltip"><i class="fas fa-video"></i></button>
                                    <button type="button" class="btn-link" title="Post an Idea"
                                            data-toggle="tooltip"><i class="far fa-lightbulb"></i></button>
                                    <button type="button" class="btn-link" title="Post an Question"
                                            data-toggle="tooltip"><i class="fas fa-question-circle"></i></button>
                                </div>
                                <button type="submit" class="btn btn-sm btn-rounded btn-info">Post</button>
                            </div>
                        </form>
                        <ul class="panel-activity__list">
                            <li><i class="activity__list__icon fas fa-question-circle"></i>
                                <div class="activity__list__header"><img src="/static/img/avatars/01_40x40.png"
                                                                         alt=""> <a href="#">John Doe</a> Posted the
                                    question: <a href="#">How can I change my annual reports for the better
                                        effect?</a></div>
                                <div class="activity__list__body entry-content"><p><strong>Lorem ipsum dolor sit
                                    amet</strong>, consectetur adipisicing elit. Voluptatibus ab a nostrum
                                    repudiandae dolorem ut quaerat veniam asperiores, rerum voluptatem magni dolores
                                    corporis! <em>Molestiae commodi nesciunt a, repudiandae repellendus ea.</em></p>
                                </div>
                                <div class="activity__list__footer"><a href="#"><i class="far fa-thumbs-up"></i>123</a>
                                    <a href="#"><i class="far fa-comments"></i>23</a> <span><i
                                            class="far fa-clock"></i>2 hours ago</span></div>
                            </li>
                            <li><i class="activity__list__icon fas fa-question-circle"></i>
                                <div class="activity__list__header"><img src="/static/img/avatars/01_40x40.png"
                                                                         alt=""> <a href="#">John Doe</a> Posted the
                                    question: <a href="#">How can I change my annual reports for the better
                                        effect?</a></div>
                                <div class="activity__list__body entry-content">
                                    <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Voluptatibus ab a nostrum repudiandae dolorem ut quaerat veniam asperiores,
                                        rerum voluptatem magni dolores corporis! Molestiae commodi nesciunt a,
                                        repudiandae repellendus ea.</p></blockquote>
                                </div>
                                <div class="activity__list__footer"><a href="#"><i class="far fa-thumbs-up"></i>123</a>
                                    <a href="#"><i class="far fa-comments"></i>23</a> <span><i
                                            class="far fa-clock"></i>2 hours ago</span></div>
                            </li>
                            <li><i class="activity__list__icon far fa-image"></i>
                                <div class="activity__list__header"><img src="/static/img/avatars/01_40x40.png"
                                                                         alt=""> <a href="#">John Doe</a> Uploaded 4
                                    Image: <a href="#">Office Working Time</a></div>
                                <div class="activity__list__body entry-content">
                                    <ul class="gallery">
                                        <li><img src="/static/img/gallery/01.jpg" alt=""></li>
                                        <li><img src="/static/img/gallery/02.jpg" alt=""></li>
                                        <li><img src="/static/img/gallery/03.jpg" alt=""></li>
                                        <li><img src="/static/img/gallery/04.jpg" alt=""></li>
                                    </ul>
                                </div>
                                <div class="activity__list__footer"><a href="#"><i class="far fa-thumbs-up"></i>123</a>
                                    <a href="#"><i class="far fa-comments"></i>23</a> <span><i
                                            class="far fa-clock"></i>2 hours ago</span></div>
                            </li>
                            <li><i class="activity__list__icon fas fa-question-circle"></i>
                                <div class="activity__list__header"><img src="/static/img/avatars/01_40x40.png"
                                                                         alt=""> <a href="#">John Doe</a> Posted the
                                    question: <a href="#">How can I change my annual reports for the better
                                        effect?</a></div>
                                <div class="activity__list__body entry-content">
                                    <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Voluptatibus ab a nostrum repudiandae dolorem ut quaerat veniam asperiores,
                                        rerum voluptatem magni dolores corporis! Molestiae commodi nesciunt a,
                                        repudiandae repellendus ea.</p></blockquote>
                                </div>
                                <div class="activity__list__footer"><a href="#"><i class="far fa-thumbs-up"></i>123</a>
                                    <a href="#"><i class="far fa-comments"></i>23</a> <span><i
                                            class="far fa-clock"></i>2 hours ago</span></div>
                            </li>
                            <li><i class="activity__list__icon far fa-lightbulb"></i>
                                <div class="activity__list__header"><img src="/static/img/avatars/01_40x40.png"
                                                                         alt=""> <a href="#">John Doe</a> bookmarked
                                    a page: <a href="#">Awesome Idea</a></div>
                                <div class="activity__list__footer"><a href="#"><i class="far fa-thumbs-up"></i>123</a>
                                    <a href="#"><i class="far fa-comments"></i>23</a> <span><i
                                            class="far fa-clock"></i>2 hours ago</span></div>
                            </li>
                        </ul>
                    </div>
                </div>{% endcomment %}
            </div>
            <div class="col-lg-4">
                <div class="panel">
                    <div class="panel-heading"><h3 class="panel-title">About Me</h3></div>
                    <div class="panel-content panel-about">
                        <p><b>Address: </b>{{ account.employee.address }}</p>
                        <p><b>Nationality: </b>{{ account.employee.nationality }}</p>
                        <p><b>Joined On: </b>{{ account.employee.date_employeed }}</p>
                        <table>
                            <tr>
                                <th><i class="fas fa-briefcase"></i>Permission</th>
                                <td>{{ account.category }}</td>
                            </tr>
                            <tr>
                                <th><i class="fas fa-birthday-cake"></i>Date of Birth</th>
                                <td>{{ account.employee.date_of_birth }}</td>
                            </tr>
                            <tr>
                                <th><i class="fas fa-map-marker-alt"></i>Sex</th>
                                <td>{{ account.employee.sex }}</td>
                            </tr>
                            <tr>
                                <th><i class="fas fa-mobile-alt"></i>Mobile No.</th>
                                <td><a href="tel:{{ account.employee.phone }}"
                                       class="btn-link">{{ account.employee.phone }}</a></td>
                            </tr>
                            <tr>
                                <th><i class="fas fa-globe"></i>Status</th>
                                <td><a href="mailto:example.com" class="btn-link">{{ account.employee.status }}</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                {% comment %}
                <div class="panel">
                    <div class="weather--panel text-white bg-blue">
                        <div class="weather--title"><i class="fa fa-map-marker-alt"></i>
                            <span>Dhaka, Bangladesh</span></div>
                        <div class="weather--info"><i class="wi wi-rain-wind"></i> <span>33°C</span></div>
                    </div>
                </div>
                <div class="panel">
                    <div class="weather--panel text-white bg-orange">
                        <div class="weather--title"><i class="fa fa-map-marker-alt"></i>
                            <span>Melbourne, Autoria</span></div>
                        <div class="weather--info"><i class="wi wi-hot"></i> <span>35°C</span></div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading"><h3 class="panel-title">To-Do List</h3>
                        <div class="dropdown">
                            <button type="button" class="btn-link dropdown-toggle" data-toggle="dropdown"><i
                                    class="fa fa-ellipsis-v"></i></button>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="fa fa-sync"></i>Update Data</a></li>
                                <li><a href="#"><i class="fa fa-times"></i>Remove Panel</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="todo--panel">
                        <form action="#">
                            <ul class="list-group" data-trigger="scrollbar">
                                <li class="list-group-item"><label class="todo--label"> <input type="checkbox"
                                                                                               name="checkbox"
                                                                                               value="1"
                                                                                               class="todo--input"
                                                                                               checked> <span
                                        class="todo--text">Schedule Meeting</span> </label> <a href="#"
                                                                                               class="todo--remove">&times;</a>
                                </li>
                                <li class="list-group-item"><label class="todo--label"> <input type="checkbox"
                                                                                               name="checkbox"
                                                                                               value="2"
                                                                                               class="todo--input">
                                    <span class="todo--text">Call Clients To Follow-Up</span> </label> <a href="#"
                                                                                                          class="todo--remove">&times;</a>
                                </li>
                                <li class="list-group-item"><label class="todo--label"> <input type="checkbox"
                                                                                               name="checkbox"
                                                                                               value="3"
                                                                                               class="todo--input"
                                                                                               checked> <span
                                        class="todo--text">Book Flight For Holiday</span> </label> <a href="#"
                                                                                                      class="todo--remove">&times;</a>
                                </li>
                                <li class="list-group-item"><label class="todo--label"> <input type="checkbox"
                                                                                               name="checkbox"
                                                                                               value="4"
                                                                                               class="todo--input">
                                    <span class="todo--text">Forward Important Tasks</span> </label> <a href="#"
                                                                                                        class="todo--remove">&times;</a>
                                </li>
                                <li class="list-group-item"><label class="todo--label"> <input type="checkbox"
                                                                                               name="checkbox"
                                                                                               value="6"
                                                                                               class="todo--input">
                                    <span class="todo--text">Important Tasks</span> </label> <a href="#"
                                                                                                class="todo--remove">&times;</a>
                                </li>
                            </ul>
                            <div class="input-group"><input type="text" name="todo" placeholder="Add New Task"
                                                            class="form-control" autocomplete="off" required>
                                <div class="input-group-btn">
                                    <button type="submit" class="btn-link">+</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading"><h3 class="panel-title">Feeds &amp; Activities</h3>
                        <div class="dropdown">
                            <button type="button" class="btn-link dropdown-toggle" data-toggle="dropdown"><i
                                    class="fa fa-ellipsis-v"></i></button>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="fa fa-sync"></i>Update Data</a></li>
                                <li><a href="#"><i class="fa fa-times"></i>Remove Panel</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="feeds-panel">
                        <ul class="nav">
                            <li><span class="time">2 mins</span> <i
                                    class="fa fa-shopping-cart text-white bg-blue"></i> <span class="text">New Order Received</span>
                            </li>
                            <li><span class="time">10 mins</span> <i class="fa fa-user text-white bg-orange"></i>
                                <span class="text">Updated Profile Picture</span></li>
                            <li><span class="time">20 mins</span> <i class="fa fa-comment text-white bg-red"></i>
                                <span class="text"><a href="#">John Doe</a> Commented on <a
                                        href="#">News #123</a></span></li>
                            <li><span class="time">21 mins</span> <i
                                    class="fa fa-shopping-cart text-white bg-blue"></i> <span class="text">New Order Received</span>
                            </li>
                            <li><span class="time">25 mins</span> <i class="fa fa-user text-white bg-green"></i>
                                <span class="text">New User Registered</span></li>
                            <li><span class="time">25 mins</span> <i class="fa fa-times text-white bg-dark"></i>
                                <span class="text">Order <a href="#">#24DP01</a> Rejected</span></li>
                            <li><span class="time">2 hours</span> <i class="fa fa-comment text-white bg-red"></i>
                                <span class="text"><a href="#">John Doe</a> Commented on <a
                                        href="#">News #123</a></span></li>
                            <li><span class="time">3 hours</span> <i class="fa fa-user text-white bg-orange"></i>
                                <span class="text">You Uploaded A Image</span></li>
                            <li><span class="time">4 hours</span> <i
                                    class="fa fa-shopping-cart text-white bg-blue"></i> <span class="text">New Order Received</span>
                            </li>
                            <li><span class="time">8 hours</span> <i class="fa fa-user text-white bg-green"></i>
                                <span class="text">New User Registered</span></li>
                            <li><span class="time">22 hours</span> <i
                                    class="fa fa-shopping-cart text-white bg-blue"></i> <span class="text">New Order Received</span>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endcomment %}
            </div>
        </div>
    </section>
{% endblock %}